.my {
  .info {
    display: flex;
    display: -webkit-flex;
    .font-left {
      padding: 10px;
      flex: 1;
      -webkit-flex: 1;

      color: #42B2FB;
      text-align: center;
      line-height: 60px;
      font-size: 40px;
    }

    .font-right {
      color: #888888;
      padding: 10px;
      flex: 1;
      -webkit-flex: 1;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .msg {
    padding-right: 15px;
    padding-left: 15px;
    color: #df6448;
  }
  .number {
    color: #2090d9;
  }
}